server:
  port: ${PORT:8080}
spring:
  application:
    name: ${APP_NAME:bot-storemessages}
  config:
    import: optional:configserver:${CONFIG_SERVER_URI:http://127.0.0.1:8888}
  data:
    mongodb:
      authentication-database: ${SPRING_DATA_MONGODB_AUTHENTICATION_DATABASE:admin}
      authentication-mechanism: ${SPRING_DATA_MONGODB_AUTHENTICATION_MECHANISM:SCRAM-SHA-1}
#  profiles:
#    active: localhost
rabbit:
  enabled: ${RABBIT_ENABLED:true}
  queues:
    register-contact-message: ${RABBIT_QUEUE_REGISTER_CONTACT_MESSAGE:notify.contact-me}
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URI:http://127.0.0.1:8761/eureka}
management:
  server:
    port: ${MANAGEMENG_PORT:8081}
  endpoints:
    web:
      exposure:
        include:
          - '*'
    jmx:
      exposure:
        include:
          - '*'
  endpoint:
    health:
      group:
        default:
          show-components: always
          show-details: always
          include:
            - diskSpace
            - ping
        database:
          show-components: always
          show-details: always
          include:
            - mongo
        message-broker:
          show-components: always
          show-details: always
          include:
            - rabbit
---
spring:
  config.activate.on-profile: localhost
  data:
    mongodb:
      host: 127.0.0.1
      username: 'root'
      password: 'root'
      database: 'db_messages'
      authentication-database: 'admin'
      authentication-mechanism: 'SCRAM-SHA-1'
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    virtual-host: /
    username: guest
    password: guest